<div class="sidebar bg-white p-6">
  <div>
    <h3>Dating App</h3>
  </div>
  <div class="flex flex-column h-full justify-content-between">
    <div class="mt-6">
      <div class="flex align-items-center">
        <p-avatar image="/assets/image/5.jpg" shape="circle"></p-avatar>
        <span class="font-bold ml-2">Sukhrob Ilyosbekov</span>
      </div>
      <div class="pt-3">
        <button pButton 
          class="p-button-text text-black-alpha-90"
          icon="pi pi-home text-2xl" 
          label="Home"> 
        </button>
      </div>
      <div class="pt-3">
        <button pButton 
          class="p-button-text text-black-alpha-90"
          icon="pi pi-user text-2xl" 
          label="Profile"
          routerLink="/profile"> 
        </button>
      </div>
      <div class="pt-3">
        <button pButton 
          class="p-button-text text-black-alpha-90"
          icon="pi pi-heart text-2xl" 
          label="Matches"> 
        </button>
      </div>
      <div class="pt-3">
        <button pButton
          class="p-button-text text-black-alpha-90" 
          icon="pi pi-comment text-2xl" 
          label="Messages"> 
        </button>
      </div>
      <div class="pt-3">
        <button pButton
          class="p-button-text text-black-alpha-90" 
          icon="pi pi-inbox text-2xl" 
          label="Notifications"> 
        </button>
      </div>
    </div>
    <div class="mb-5">
      <button pButton
        class="p-button-secondary p-button-outlined"
        icon="pi pi-arrow-circle-left text-xl" 
        label="Logout"
        (click)="logout()"> 
      </button>
    </div>
  </div>
</div>
