<form [formGroup]="form" (ngSubmit)="submit()">
  <p-fileUpload
    #fileUploader
    styleClass="my-2"
    mode="basic"
    accept="image/*"
    chooseLabel="Upload photo"
    [auto]="true"
    [customUpload]="true"
    (uploadHandler)="imageUploadHandler($event)">
  </p-fileUpload>
  
  <input type="hidden" formControlName="profilePhoto" />

  <div class="flex justify-content-center">
    <img class="img-fluid" [src]="croppedImage" />
  </div>
  
  <div class="flex justify-content-between">
    <button pButton type="button" class="p-button-raised mt-3" (click)="prevPage()">
      Back
    </button>
    <button pButton type="submit" class="p-button-raised mt-3">
      Submit
    </button>
  </div>
</form>
