<form class="formgrid" [formGroup]="form" (ngSubmit)="nextPage()">
  <div class="field col-12 md:col-6">
    <label for="email">Email</label>
    <input pInputText
      formControlName="email"
      type="email"
      class="w-full" 
      placeholder="john@gmail.com">
      <span class="p-error" *ngIf="hasError('email', 'required')">
        Email address is required
      </span>
      <span class="p-error" *ngIf="hasError('email', 'emailExists')">
        Email address is already taken
      </span>
  </div>
  
  <div class="field col-12 md:col-6">
    <label for="password">Password</label>
    <p-password
      formControlName="password"
      [toggleMask]="true"
      styleClass="w-full" 
      inputStyleClass="w-full" 
      placeholder="Upper and lower case letters, numbers and symbols"
      [strongRegex]="passwordPattern">
      <ng-template pTemplate="footer">
        <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
          <li>At least one lowercase</li>
          <li>At least one uppercase</li>
          <li>At least one numeric</li>
          <li>Minimum 8 characters</li>
        </ul>
    </ng-template>
    </p-password>
    <span class="p-error" *ngIf="hasError('password', 'passwordIncorrect')">
      Password format is incorrect
    </span>
  </div>

  <div class="field col-12 md:col-6">
    <label for="confirmPassword">Confirm Password</label>
    <p-password
      formControlName="confirmPassword" 
      styleClass="w-full" 
      inputStyleClass="w-full"
      [feedback]="false">
    </p-password>
    <span class="p-error" *ngIf="hasError('confirmPassword', 'passwordMismatch')">
      Does not match with password
    </span>
  </div>

  <div class="flex justify-content-between">
    <div></div>
    <button pButton type="submit" class="p-button-raised mt-3">Next</button>
  </div>
</form>