<div class="formgrid">
  <div class="field col-12 md:col-6">
    <label for="email">Email</label>
    <input name="email" type="email" class="w-full" pInputText>
  </div>
  <div class="field col-12 md:col-6">
    <label for="password">Password</label>
    <p-password name="password" [toggleMask]="true" styleClass="w-full" inputStyleClass="w-full">
    </p-password>
  </div>
  <div class="field col-12 md:col-6">
    <label for="confirmPassword">Confirm Password</label>
    <p-password name="confirmPassword" styleClass="w-full" inputStyleClass="w-full">
    </p-password>
  </div>
</div>