.chip {
  border-radius: 1.5rem;
  border: 1px rgb(207, 72, 72) solid;
  padding: 0.5rem;
  color: black;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.chip.chip-selected {
  background-color: rgb(207, 72, 72);
  color: white;
}

.items-list {
  max-height: 300px;
}